.App {
  text-align: center;
}

form {
  display: inline-block;
  background: rgb(33, 33, 33);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.field {
  margin-bottom: 0.5rem;
}

.checkbox {
  color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
}

.checkbox input {
  background: white;
  position: relative;
  top: 2px;
  left: 5px;
}